<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>N째</td>
            <td>Identificaci처n</td>
            <td>Nombre</td>
            <td>ID del padre</td>
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].ID %></td>
                <td><%= data[i].NOM %></td>
                <td><%= data[i].HIJODE %></td>
                <td>
                  <a href="/updatehijo/<%= data[i].ID %>" class="btn btn-primary">Editar</a>
                  <a href="/deletehijo/<%= data[i].ID %>" class="btn btn-danger">Borrar</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/addhijo" method="POST">
          <div class="form-group">
            <input type="text" name="id" placeholder="Identificaci처n" class="form-control" required autofocus>
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="nom" placeholder="Nombre" class="form-control" required>
          </div>
          <br>
          <div class="form-group">
            <input type="number" name="hijode" placeholder="Identificaci처n del padre" value="NULL" class="form-control">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">
            Guardar hijo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
